alphabet-detector==0.0.7
chardet==3.0.4
docopt==0.6.2
fasttext==0.9.1
ftfy==5.7
langid==1.1.6
mosestokenizer==1.1.0
numpy==1.18.2
openfile==0.0.7
ordered-set==3.1.1
pip-autoremove==0.9.1
pybind11==2.5.0
regex==2020.2.20
sentence-splitter==1.4
toolwrapper==2.0.0
tqdm==4.43.0
uctools==1.2.1
wcwidth==0.1.8
